#img1,#img2,#img3,#img3,#img4,#img5,#img6,#img7,#img8,#img9,#img10,#img11,#img12,#img13,#img14,#img15,#img16,#img17,#img18,#img19,#img20,#img21,#img22,#img23,#img24,#img25,#img26,#img27,#img28,#img29,#img30,#img31,#img32,
#img33,#img34,#img35,#img36,#img37,#img38,#img39,#img40,#img41,#img42,#img43,#img44,#img45,#img46,#img47,#img48,#img49,#img50,#img51,#img52,#img53{display:none;}
body, html { height: auto; margin: 0; font: 400 15px/1.8; color:black; max-width: 100%; overflow-x: hidden; background-color: black; }
@media(max-width:767px){ #topNavbar{ display:none; } }
@media(min-width:768px){ #topNavbar1{ display: none; } }
#topNavbar .navbar{height:30px; background-color: white;background: transparent;}
#topNavbar .navbar ul{text-align:center;display:inline-block;vertical-align:top;}
#topNavbar .navbar-brand{font-size:30px !important;color:black;font-family:PT Sans Narrow;}
.bgimg-1, .bgimg-2, .bgimg-3,.background1,.background2,.careerbackground,.erpbackground,.appbackground,.supportbackground,.graphicbackground,.digitalbackground,.webbackground,.gamebackground, .aboutbackground,.softwarebackground{ position: relative; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: contain; }
/*.background1{ background-image: url("images/contact.jpg"); min-height: 100vh; height:100vh; background-size: contain; }*/
.background1 #heading1{ font-size:70px;position: absolute; top:55%; left:10%; }
.background1 #heading2{ font-size:3em;position: absolute; top:70%; left:10%; }
.background1 #scroll1 span{font-size:50px;}
@media(max-width:768px){ .background1 #heading1{display:none;} .background1 #heading2{font-size:30px;position: absolute; top:65%; left:10%;} .background1 #scroll1 span{font-size:30px;} }
.background2 h1{ position: absolute; font-size:50px;top:75%; left:10%; }
.background2 #scroll2 span{font-size:50px;}
@media(max-width:767px){ .background2 h1{font-size:30px;position: absolute;top:65%;left:10%;} .background2 #scroll2 span{font-size:30px;top:80%;} }
.careerbackground h3{ font-size:50px;position: absolute; top:65%; left:10%; }
.careerbackground #scroll3 span{font-size:50px;}
@media(max-width:767px){ .careerbackground h3{ font-size:30px;position: absolute; top:65%; left:10%; } .careerbackground #scroll3 span{display:none;} }
.aboutbackground #scroll4 span{ position:absolute;top:90%;left:50%;font-size:50px; }
@media(max-width:767px){ .aboutbackground #scroll4 span{position:absolute;top:85%;left:50%;font-size:30px;} }
.webbackground h3{ font-size:50px;position: absolute; top:80%; left:5%; }
.webbackground #scroll5 span{position:absolute;top:92%;left:50%;font-size:50px;}
@media(max-width:767px){ .webbackground h3{font-size:30px; position: absolute; top:65%; left:5%; } .webbackground #scroll5 span{position:absolute;top:82%;left:50%;font-size:30px;} }
.gamebackground h3{ font-size:50px;position:absolute; top:75%; left:10%; }
.gamebackground #scroll6 span{position:absolute;top:92%;left:50%;font-size:50px;}
@media(max-width:767px){ .gamebackground h3{ font-size:30px;position:absolute; top:65%; left:10%; } .gamebackground #scroll6 span{position:absolute;top:85%;left:50%;font-size:30px;} }
.appbackground h3{ font-size:50px;position:absolute; top:65%; right:5%; }
.appbackground #scroll7 span{position:absolute;top:80%;left:50%;font-size:50px;}
@media(max-width:767px){ .appbackground h3{ font-size:30px;position:absolute; top:65%; right:5%; } .appbackground #scroll7 span{position:absolute;top:85%;left:50%;font-size:30px;} }
.supportbackground h3{ font-size:50px;position:absolute; top:75%; left:5%; }
.supportbackground #scroll8 span{position:absolute;top:90%;left:50%;font-size:50px;}
@media(max-width:767px){ .supportbackground h3{ font-size:30px;position:absolute; top:65%; left:5%; } .supportbackground #scroll8 span{position:absolute;top:85%;left:50%;font-size:30px;} }
.graphicbackground h3{ font-size:50px;position:absolute; top:55%; right:5%; }
.graphicbackground #scroll9 span{position:absolute;top:80%;left:50%;font-size:50px;}
@media(max-width:767px){ .graphicbackground h3{ font-size:30px;position:absolute; top:65%; right:5%; } .graphicbackground #scroll9 span{position:absolute;top:85%;left:50%;font-size:30px;} }
.digitalbackground h3{ font-size:50px;position: absolute; top:72%; left:10%; }
.digitalbackground #scroll10 span{position:absolute;top:85%;left:50%;font-size:50px;}
@media(max-width:767px){ .digitalbackground h3{ font-size:30px;position: absolute; top:65%; left:10%; } .digitalbackground #scroll10 span{position:absolute;top:85%;left:50%;font-size:30px;} }
.erpbackground h3{ font-size:50px;position: absolute; top:80%; left:10%; }
.erpbackground #scroll11 span{position:absolute;top:90%;left:50%;font-size:50px;}
@media(max-width:767px){ .erpbackground h3{ font-size:30px;position: absolute; top:65%; left:10%; } .erpbackground #scroll11 span{position:absolute;top:85%;left:50%;font-size:30px;} }
.softwarebackground h3{ font-size:50px;position: absolute; top:80%; left:10%; }
.softwarebackground #scroll12 span{position:absolute;top:90%;left:50%;font-size:50px;}
@media(max-width:767px){ .softwarebackground h3{ font-size:30px;position: absolute; top:65%; left:10%; } .softwarebackground #scroll12 span{position:absolute;top:85%;left:50%;font-size:30px;} }
.bgimg-1 { background-image: url("images/image3.jpg"); min-height:100vh; height:100vh; background-size: cover; }
.bgimg-2 { background-image: url("images/image1.jpg"); min-height: 120vh; height:120vh; background-size: cover; }
.bgimg-3{ background-image: url("images/back.jpg"); min-height:50vh; height:50vh; background-size: cover; }
@media only screen and (max-device-width: 1024px) { .bgimg-1, .bgimg-2, .bgimg-3 { background-attachment: scroll; } }
a.effect-underline:after {content: ''; position: absolute; left: 0; display: inline-block; height: 1em; width: 100%; border-bottom: 2px solid; margin-top: 10px; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: scale(0,1); transform: scale(0,1); }
a.effect-underline:hover:after {opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
.mb-60 { margin-bottom: 60px; }
.services-inner { border: 2px solid black; margin-left: 35px; transition: .3s; }
.our-services-img { float: left; margin-left: -36px; margin-right: 22px; margin-top: 28px; }
.our-services-text { padding-right: 10px; }
.our-services-text { overflow: hidden; padding: 28px 0 25px; }
.our-services-text h4 { color: #222222; font-size: 18px; font-weight: 700; letter-spacing: 1px; margin-bottom: 8px; padding-bottom: 10px; position: relative; text-transform: uppercase; }
.our-services-text h4::before { background: #ec6d48 none repeat scroll 0 0; bottom: 0; content: ""; height: 1px; position: absolute; width: 35px; }
.our-services-wrapper:hover .services-inner { background: #fff none repeat scroll 0 0; border: 2px solid transparent; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); }
.our-services-text p { margin-bottom: 0; }
p { font-size: 14px; font-weight: 400; line-height: 26px; color: #666; margin-bottom: 15px; }
#footer ul li a:hover{ font-size: 20px; border-bottom: 1px solid white; }
.svg-inline--fa {vertical-align: -0.200em; }
.rounded-social-buttons {text-align: center; }
.rounded-social-buttons .social-button {display: inline-block; position: relative; cursor: pointer; width: 3.125rem; height: 3.125rem; border: 0.125rem solid transparent; padding: 0; text-decoration: none; text-align: center; color: #fefefe; font-size: 1.5625rem; font-weight: normal; line-height: 1em; border-radius: 1.3875rem; transition: all 0.5s ease; margin-right: 0.05rem; margin-bottom: 0.25rem; }
.navbar { height: 90px; background-color: transparent; border: none; color: white; z-index: 100; max-width: 100%; transition: background-color 1s ease 0s; }
.navbar-default .navbar-brand { margin-top: 10px; color: white; }
.navbar-default .navbar-brand:hover { color: white; }
.navbar-default .navbar-nav > li > a { color: white; margin: 10px 5px 5px 5px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus { color: white; }
.navbar-default .navbar-nav > li > a:visited { color: white; text-decoration: none; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background-color: transparent; color: white; }
.navbar-default .navbar-toggle { border-color: white; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { }
.navbar-default .navbar-toggle .icon-bar { color: black; background-color: transparent; }
.navbar-default .navbar-collapse.collapse.in ul { background-color: white; }
.navbar.solid { background-color: #191919; transition: background-color 1s ease 0s; box-shadow: 0 0 4px grey; }
.navbar.solid .navbar-brand { color: white; transition: color 1s ease 0s; }
.navbar.solid .navbar-nav > li > a { color: white; transition: color 1s ease 0s; }
@media(max-width:767px){ #navbar{ background-color: white; color:black; } }
@media(max-width:767px){ .collapse ul li a{ color:black; } }
.mega-dropdown { position: static !important; }
.mega-dropdown-menu { padding: 20px 0px; width: 100%; box-shadow: none; -webkit-box-shadow: none; }
.mega-dropdown-menu > li > ul { padding: 0; margin: 0; }
.mega-dropdown-menu > li > ul > li { list-style: none; }
.mega-dropdown-menu > li > ul > li > a { display: block; color: #222; padding: 3px 5px; }
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus { text-decoration: none; }
.mega-dropdown-menu .dropdown-header { font-size: 18px; color: #ff3546; padding: 5px 60px 5px 5px; line-height: 30px; }
@media(min-width: 768px){#features .col-sm-4{transition: transform 0.3s }}
@media(min-width: 768px){#features .col-sm-4:hover{transform: scale(1.05); background-color:transparent;  box-shadow: 0 0 11px rgba(33,33,33,.2);  } }
@media(min-width: 768px){#features .col-sm-6{transition: transform 0.3s }}
@media(min-width: 768px){#features .col-sm-6:hover{transform: scale(1.05); background-color:transparent;  box-shadow: 0 0 11px rgba(33,33,33,.2);  } }
#quote-carousel { padding: 0 10px 30px 10px; margin-top: 30px; }
#quote-carousel .carousel-control { background: none; color: #222; font-size: 2.3em; text-shadow: none; margin-top: 30px; }
#quote-carousel .carousel-control.left { left: -10px; }
#quote-carousel .carousel-control.right { right: -10px !important; }
#quote-carousel .carousel-indicators { right: 50%; top: auto; bottom: 0px; margin-right: -19px; }
#quote-carousel .carousel-indicators li { background: #c0c0c0; }
#quote-carousel .carousel-indicators .active { background: #333333; }
#quote-carousel img { width: 250px; height: 100px }
.item blockquote { border-left: none; margin: 0; }
.item blockquote img { margin-bottom: 10px; }
.item blockquote p:before { content: "\f10d"; font-family: 'Fontawesome'; float: left; margin-right: 10px; }
@media (min-width: 768px) { #quote-carousel { margin-bottom: 0; padding: 0 40px 30px 40px; } }
@media (max-width: 768px) { #quote-carousel .carousel-indicators { bottom: -20px !important; } #quote-carousel .carousel-indicators li { display: inline-block; margin: 0px 5px; width: 15px; height: 15px; } #quote-carousel .carousel-indicators li.active { margin: 0px 5px; width: 20px; height: 20px; } }
#testimonial{ background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); background-size: 400% 400%; -webkit-animation: Gradient 15s ease infinite; -moz-animation: Gradient 15s ease infinite; animation: Gradient 15s ease infinite; }
@-webkit-keyframes Gradient { 0% { background-position: 0% 50% } 50% { background-position: 100% 50% } 100% { background-position: 0% 50% } }
@-moz-keyframes Gradient { 0% { background-position: 0% 50% } 50% { background-position: 100% 50% } 100% { background-position: 0% 50% } }
@keyframes Gradient { 0% { background-position: 0% 50% } 50% { background-position: 100% 50% } 100% { background-position: 0% 50% } }
.glyphicon-menu-left{ position:absolute; top:50%; }
.glyphicon-menu-right{ position:absolute; top:50%; }
.gal-container{ padding: 12px; }
.gal-item{ overflow: hidden; padding: 3px; }
.gal-item .box{ height: 350px; overflow: hidden; }
.box img{ height:100%; width: 100%; object-fit:cover; -o-object-fit:cover; }
.gal-item .box1{ height: 350px; overflow: hidden; }
.box1 img{ height:100%; width: 100%; object-fit:cover; -o-object-fit:cover; }
.gal-item a:focus{ outline: none; }
#one a:after{ padding-top: 70px; font-family: 'Open Sans'; content:"Orbit Agri Remedies is an informative website where the company is about pesticides and insecticides manufacturer."; }
#two a:after{ padding-top: 50px; font-family:'Open Sans'; content:"IELTS Writing is an Android based app and it is specially designed for the WRITING section which allows IELTS learner to study on their own in a simple, effective and convienient way anytime, anywhere."; line-height:40px; }
#three a:after{ padding-top: 50px; font-family: 'Open Sans'; content:"Business Card Reader is an Android Application. It takes the photo of the paper based visiting card through the camera of the android device and performs scanning of the photo."; line-height:40px; }
#four a:after{ padding-top: 50px; font-family: 'Open Sans'; content:"The application is based on the changed tax slabs by the government. The main feature of our application is to find the GST tax based on different tax slabs."; line-height:40px; }
#five a:after{ padding-top: 50px; font-family: 'Open Sans'; content:"CookBook provides different types of tasty and delicious recipes which is mostly used by hostel students as well as house wives. Cooking to an ancient recipe was a privilege for the bachelors and hostel students."; line-height:40px; }
#six a:after{ padding-top:50px; font-family:'Open Sans'; content:"Zeni Silk Agency in Puna Kumbharia has a wide range of products and services to cater to the varied requirements of their customers.";}
.gal-item a:after{ /*content:"\e003";*/ content:"Description"; font-family: 'Glyphicons Halflings'; opacity: 0; background-color: rgba(0, 0, 0, 0.75); position: absolute; right: 3px; left: 3px; top: 3px; bottom: 3px; text-align: center; line-height: 50px; font-size: 20px; color: #fff; -webkit-transition: all 0.5s ease-in-out 0s; -moz-transition: all 0.5s ease-in-out 0s; transition: all 0.5s ease-in-out 0s; }
.gal-item a:hover:after{ opacity: 1; }
.modal-open .gal-container .modal{ background-color: rgba(0,0,0,0.4); }
.modal-open .gal-item .modal-body{ padding: 0px; }
.modal-open .gal-item button.close{ position: absolute; width: 25px; height: 25px; background-color: #000; opacity: 1; color: #fff; z-index: 999; right: -12px; top: -12px; border-radius: 50%; font-size: 15px; border: 2px solid #fff; line-height: 25px; -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35); box-shadow: 0 0 1px 1px rgba(0,0,0,0.35); }
.modal-open .gal-item button.close:focus{ outline: none; }
.modal-open .gal-item button.close span{ position: relative; top: -3px; font-weight: lighter; text-shadow:none; }
.gal-container .modal-dialogue{ width: 80%; }
.gal-container .description{ position: relative; height: 40px; top: -40px; padding: 10px 25px; background-color: rgba(0,0,0,0.5); color: #fff; text-align: left; }
.gal-container .description h4{ margin:0px; font-size: 15px; font-weight: 300; line-height: 20px; }
.gal-container .modal.fade .modal-dialog { -webkit-transform: scale(0.1); -moz-transform: scale(0.1); -ms-transform: scale(0.1); transform: scale(0.1); top: 100px; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.gal-container .modal.fade.in .modal-dialog { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); -webkit-transform: translate3d(0, -100px, 0); transform: translate3d(0, -100px, 0); opacity: 1; }
@media (min-width: 768px) { .gal-container .modal-dialog { width: 55%; margin: 50 auto; } }
@media (max-width: 768px) { .gal-container .modal-content{ height:250px; } }
.mb-60 { margin-bottom: 60px; }
.services-inner { border:2px solid #edf0f4; margin-left: 35px; transition: .3s; }
.our-services-img { float: left; margin-left: -36px; margin-right: 22px; margin-top: 60px; }
.our-services-text { padding-right: 10px; }
.our-services-text { overflow: hidden; padding: 28px 0 25px; }
.our-services-text h4 { color: #222222; font-size: 18px; font-weight: 700; letter-spacing: 1px; margin-bottom: 8px; padding-bottom: 10px; position: relative; text-transform: uppercase; }
.our-services-text h4::before { background: #ec6d48 none repeat scroll 0 0; bottom: 0; content: ""; height: 1px; position: absolute; width: 35px; }
.our-services-wrapper:hover .services-inner { background: #fff none repeat scroll 0 0; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); }
.our-services-text p { margin-bottom: 0; }
.svg-inline--fa {vertical-align: -0.200em; }
#panel{ display: none; }
.slideanim { visibility:hidden; visibility:visible\9;/*For old IE browsers IE6-8 */ }
.slideanim.slide { visibility: visible; animation: slide 1s; }
.slideanim::after { /* useful when its child elements are float:left; */ content: ""; display: table; clear: both; }
@keyframes slide { 0% { opacity: 0; transform: translateY(50%); } 100% { opacity: 1; transform: translateY(0); } }
.slick-slide { margin: 0px 20px; }
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0; display: block; }
.slick-track:before, .slick-track:after { display: table; content: ''; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
[dir='rtl'] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden { display: none; }
#slideshow { position: relative; width: 100%; height:700px; }
#slideshow img{ position:absolute; }
 @media(max-width:766px){ #slideshow{ position:relative; width:100%; height:280px; } #down-arrow{ display:none; } }
 @media(max-width:767px){ .brandName{ display:none; } .navbar-brand img{ height:55px; width:55px; } }
 .navbar-toggle{ margin-top:20px; }
@-webkit-keyframes imgFade { 0% { opacity:1; } 17% { opacity:1; } 25% { opacity:0; } 92% { opacity:0; } 100% { opacity:1; } }
@-moz-keyframes imgFade { 0% { opacity:1; } 17% { opacity:1; } 25% { opacity:0; } 92% { opacity:0; } 100% { opacity:1; } }
@-o-keyframes imgFade { 0% { opacity:1; } 17% { opacity:1; } 25% { opacity:0; } 92% { opacity:0; } 100% { opacity:1; } }
@keyframes imgFade { 0% { opacity:1; } 17% { opacity:1; } 25% { opacity:0; } 92% { opacity:0; } 100% { opacity:1; } }
.btn:focus, .btn:active, button:focus, button:active { outline: none !important; box-shadow: none !important; }
#image-gallery .modal-footer{ display: block; }
input[type=text],[type=number],[type=email]{ width: 80%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box; border: none; border-bottom: 2px solid #e54444; }
textarea[type=text]{ width: 80%; padding: 12px 20px; margin: 8px 0; box-sizing: border-box; border: none; border-bottom: 2px solid #e54444; }
input[type=button]{ background-color:white; width:200px; height:50px; border-radius:8px; border:2px solid #e54444; }
input[type=button]:hover{ background-color: #e54444; color:white; }
