body, html {
  height: auto;
  margin: 0;
  font: 400 15px/1.8;
  color:black;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
}

.bgimg-1, .bgimg-2, .bgimg-3,.background1,.background2,.careerbackground,.erpbackground,.appbackground,.supportbackground,.graphicbackground,.digitalbackground,.webbackground,.gamebackground, .aboutbackground{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.background1{
  background-image: url("images/contact.jpg");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.background1 h2{
  position: absolute;
  top:60%;
  left:10%;
}
.background1 h3{
  position: absolute;
  top:80%;
  left:10%;
}
.background2{
  background-image: url("images/portfolio-background.jpg");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.background2 h1{
  position: absolute;
  top:75%;
  left:10%;
}

.careerbackground{
  background-image: url("images/careerbackground.jpg");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.careerbackground h3{
  position: absolute;
  top:80%;
  left:10%;
}

.aboutbackground{
  background-image: url("images/aboutbackground.png");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.aboutbackground h2{
  position: absolute;
  top:60%;
  left:10%;
}
.aboutbackground h3{
  position: absolute;
  top:75%;
  left:10%;
}


.webbackground{
  background-image: url("images/webbackground.jpg");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.webbackground h3{
  position: absolute;
  top:80%;
  left:5%;
}
.gamebackground{
  background-image: url("images/gamebackground1.jpg");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.gamebackground h3{
  position:absolute;
  top:75%;
  left:10%;
}


.appbackground{
  background-image: url("images/appbackground.png");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.appbackground h3{
  position:absolute;
  top:75%;
  right:5%;
}

.supportbackground{
  background-image: url("images/supportbackground1.jpg");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.supportbackground h3{
  position:absolute;
  top:85%;
  left:5%;
}
.graphicbackground{
  background-image: url("images/graphicbackground.jpg");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.graphicbackground h3{
  position:absolute;
  top:75%;
  right:5%;
}

.digitalbackground{
  background-image: url("images/digitalbackground.jpg");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.erpbackground{
  background-image: url("images/erpbackground.jpg");
  min-height: 100vh;
  height:100vh;
  background-size: cover;
}
.erpbackground h3{
  position: absolute;
  top:80%;
  left:10%;
}

.bgimg-1 {
  background-image: url("images/image3.jpg");
  min-height:100vh;
  height:100vh;
  background-size: cover;
}
.bgimg-2 {
  background-image: url("images/image1.jpg");
  min-height: 120vh;
  height:120vh;
    background-size: cover;
}
.bgimg-3{
  background-image: url("images/back.png");
  min-height:50vh;
  height:50vh;
  background-size: cover;
}
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
/*.navbar{min-height:80px; background-color: white;background: transparent;}
.navbar ul{padding:0px;margin:0px;text-align:center;display:inline-block;vertical-align:top;}
.navbar-brand{font-size:30px !important;color:black;font-family:PT sans Narrow;}
@media(min-width: 766px){#menuOnCollapse ul{float: right; } }*/
a.effect-underline:after {content: ''; position: absolute; left: 0; display: inline-block; height: 1em; width: 100%; border-bottom: 2px solid; margin-top: 10px; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: scale(0,1); transform: scale(0,1); }
a.effect-underline:hover:after {opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
    border: 2px solid black;
    margin-left: 35px;
    transition: .3s;
}
.our-services-img {
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 28px;
}
.our-services-text {
    padding-right: 10px;
}
.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}
.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #ec6d48 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;
    border: 2px solid transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);

}
.our-services-text p {
    margin-bottom: 0;
}
p {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #666;
    margin-bottom: 15px;
}
#footer ul li a:hover{
  font-size: 20px;
  border-bottom: 1px solid white;
}
.svg-inline--fa {vertical-align: -0.200em; }
.rounded-social-buttons {text-align: center; }
.rounded-social-buttons .social-button {display: inline-block; position: relative; cursor: pointer; width: 3.125rem; height: 3.125rem; border: 0.125rem solid transparent; padding: 0; text-decoration: none; text-align: center; color: #fefefe; font-size: 1.5625rem; font-weight: normal; line-height: 1em; border-radius: 1.3875rem; transition: all 0.5s ease; margin-right: 0.05rem; margin-bottom: 0.25rem; }
 /*.twitter:hover{box-shadow: 0 4px 8px 0 #0084b4, 0 6px 20px 0 #0084b4; } .linkedin:hover{box-shadow: 0 4px 8px 0 #0077B5, 0 6px 20px 0 #0077B5; } .youtube:hover{box-shadow: 0 4px 8px 0 #cc0000, 0 6px 20px 0 #cc0000; } .instagram:hover{box-shadow: 0 4px 8px 0 #3b5998, 0 6px 20px 0 #3b5998; } .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {font-size: 30px; }
.rounded-social-buttons .social-button.facebook {background: #3b5998; }
.rounded-social-buttons .social-button.twitter {background: #55acee; }
.rounded-social-buttons .social-button.linkedin {background: #007bb5; }
.rounded-social-buttons .social-button.youtube {background: #bb0000; }
.rounded-social-buttons .social-button.instagram {background: #125688; }*/

.image {
  display: block;
  width:200px;
  height: 200px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar {
  height: 90px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  max-width: 100%;
  transition: background-color 1s ease 0s;
}
.navbar-default .navbar-brand {
  margin-top: 10px;
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}
.navbar-default .navbar-nav > li > a:visited {
  color: white;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: white;
}
.navbar-default .navbar-toggle {
  border-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
}
.navbar-default .navbar-toggle .icon-bar {
  color: black;
  background-color: transparent;
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: white;
}
/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #191919;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
  color: white;
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
  color: white;
  transition: color 1s ease 0s;
}

@media(max-width:767px){
  #navbar{
  background-color: black;
}
.collapse ul li{
  background-color:black;
}
}

.c-carousel {
  width: 100%;
  position: relative;
  margin-top: 30px;
  background-color: rgba(0,0,0,.7);
}
.c-carousel__arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  background-color: transparent;
}
.c-carousel__arrow--left {
  left: 15px;
}
.c-carousel__arrow--right {
  right: 15px;
}
.c-carousel__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  will-change: transform;
}
.main-text
{
    position: absolute;
    top:90px;
    width: 100%;
    color: #FFF;
}
@media(min-width: 768px){#features .col-sm-4{transition: transform 0.3s }}
@media(min-width: 768px){#features .col-sm-4:hover{transform: scale(1.05); background-color:transparent;  box-shadow: 0 0 11px rgba(33,33,33,.2);  } }
@media(min-width: 768px){#features .col-sm-6{transition: transform 0.3s }}
@media(min-width: 768px){#features .col-sm-6:hover{transform: scale(1.05); background-color:transparent;  box-shadow: 0 0 11px rgba(33,33,33,.2);  } }
/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -10px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -10px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #quote-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

#testimonial{
background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
/*.toggleHeading {
	animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
     -moz-animation-delay: 0.5s;
       -o-animation-delay: 0.5s;
	   -moz-transition: none !important;
}

.toggleCaption {
	animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
	   -moz-transition: none !important;
}*/
.glyphicon-menu-left{
   position:absolute;
   top:50%;
}
.glyphicon-menu-right{
   position:absolute;
   top:50%;
}

.right .carousel-control a:hover{
  display:inline-block !important;
}

.caption-animate .item.active .carousel-caption {
  position: absolute;
  top:70%;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.caption-animate  .item.active .carousel-caption.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.caption-animate  .item.active .carousel-caption.hinge {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

.caption-animate .item.active .carousel-caption.flipOutX,
.caption-animate .item.active .carousel-caption.flipOutY,
.caption-animate .item.active .carousel-caption.bounceIn,
.caption-animate .item.active .carousel-caption.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
.caption-animate .item .carousel-caption.fadeIn,
.caption-animate .item .carousel-caption.fadeInDown,
.caption-animate .item .carousel-caption.fadeInDownBig,
.caption-animate .item .carousel-caption.fadeInLeft,
.caption-animate .item .carousel-caption.fadeInLeftBig,
.caption-animate .item .carousel-caption.fadeInRight,
.caption-animate .item .carousel-caption.fadeInRightBig,
.caption-animate .item .carousel-caption.fadeInUp,
.caption-animate .item .carousel-caption.fadeInUpBig{
  opacity:0;
}
.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: 350px;
	overflow: hidden;
}
.box img{
	height:100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item .box1{
	height: 350px;
	overflow: hidden;
}
.box1 img{
	height:100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}

#one a:after{
  font-family: 'Open Sans';
  content:"Orbit Agri Remedies is an informative website where the company is about pesticides and insecticides manufacturer.";
}

#two a:after{
  font-family:'Open Sans';
  content:"IELTS Writing is an Android based app and it is specially designed for the WRITING section which allows IELTS learner to study on their own in a simple, effective and convienient way anytime, anywhere.";
 line-height:40px;
}

#three a:after{
  font-family: 'Open Sans';
  content:"Business Card Reader is an Android Application. It takes the photo of the paper based visiting card through the camera of the android device and performs scanning of the photo.";
  line-height:40px;
}

#four a:after{
  font-family: 'Open Sans';
  content:"The application is based on the changed tax slabs by the government. The main feature of our application is to find the GST tax based on different tax slabs.";
  line-height:40px;
}

#five a:after{
  font-family: 'Open Sans';
  content:"CookBook provides different types of tasty and delicious recipes which is mostly used by hostel students as well as house wives. Cooking to an ancient recipe was a privilege for the bachelors and hostel students.";
  line-height:40px;
}


.gal-item a:after{
	/*content:"\e003";*/
  content:"Description";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
.mb-60 {
    margin-bottom: 60px;
}
.services-inner {
  border:2px solid #edf0f4;
    margin-left: 35px;
    transition: .3s;
}
.our-services-img {
    float: left;
    margin-left: -36px;
    margin-right: 22px;
    margin-top: 60px;
}
.our-services-text {
    padding-right: 10px;
}
.our-services-text {
    overflow: hidden;
    padding: 28px 0 25px;
}
.our-services-text h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.our-services-text h4::before {
    background: #ec6d48 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 35px;
}
.our-services-wrapper:hover .services-inner {
    background: #fff none repeat scroll 0 0;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}
.our-services-text p {
    margin-bottom: 0;
}
.svg-inline--fa {vertical-align: -0.200em; }
#panel{
  display: none;
}

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {
    visibility: visible;
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#slideshow {
  position: relative;
  width: 100%;
  height: 700px;
}
#slideshow img{
  position: absolute;
}

 @media(max-width:766px){
   #slideshow{
     position:relative;
     width:100%;
     height:500px;
   }
 }
#container {
  position:relative;
  height:700px;
  width:100%;
}
#container img {
  position:absolute;
  left:0;
}

@-webkit-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

#container img {
  -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 14s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 14s;

  -o-animation-name: imgFade;
  -o-animation-timing-function: ease-in-out;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 14s;

  animation-name: imgFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 14s;
}

#container img:nth-of-type(1) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay:12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}
#container img:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay:10s;
  -o-animation-delay: 10s;
  animation-delay: 10s;
}
#container img:nth-of-type(3) {
  -webkit-animation-delay: 8s;
  -moz-animation-delay:8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}
#container img:nth-of-type(4) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#container img:nth-of-type(5) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
#container img:nth-of-type(6) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
#container img:nth-of-type(7) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay:0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

/*.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}*/
input[type=text],[type=number],[type=email]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #e54444;
}
textarea[type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #e54444;
}
input[type=button]{
  background-color:white;
  width:200px;
  height:50px;
  border-radius:8px;
  border:2px solid #e54444;

}
input[type=button]:hover{
  background-color: #e54444;
  color:white;
}
